.features-section{
    margin: 8.75em auto;
    display: flex;
    justify-content: space-between;
    max-width: 943px;
  }
  
  @media only screen and (max-width:900px) {
    .features-section{
      flex-direction: column;
    }
  }